/build/
/build_msvc/
/build_msvc2/
/build_*/
cmake-build-*/
.cache/
compile_commands.json
.vscode/
vendor/
editor_dump.txt

# ANTIGRAVITY: Ignoring the .agents customization folder
.agents/